extends ../template.pug
append variables
  - pageTitle       = 'Inicio'
  - metaDescription = ''
  - metaKeywords    = ''
  - ogTitle         = 'Inicio'
  - ogDescription   = ''
  - ogUrl           = ''
  - ogImage         = ''

block body
