-let pageTitle = 'Home'
-let siteName = 'Webpack Starter Kit'
-let pageDescription = 'An starter kit workflow using Webpack 4, PUG, SCSS, SMACSS, BEM, PostCSS & Babel.'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Home',
      url: '/',
      child: []
    },
    {
      title: 'About',
      url: 'about.html',
      child: [
        {
          title: 'Subitem1',
          url: 'subitem1.html'
        },
        {
          title: 'Subitem2',
          url: 'subitem2.html'
        }
      ]
    }
  ]
